@import '../../source/placehorder.scss';

.loader {
  @extend %flex-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  &__image {
    border-radius: 50%;
    animation-name: lds-ring;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}