@import '../../source/Variables.scss';
@import '../../source/placehorder.scss';

.characterId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
  color: #fff;
  @extend %style-for-fonts;
  background-color: #0bfa37;
  border-radius: 20px;

 &__name {
  padding-bottom: 10px;
  font-size: 20px;
 }

 &__image {
  border-radius: 50%;
  padding-bottom: 10px;
 }

 &__gender {
  padding-bottom: 10px;
 }
}