@import '../../source/placehorder.scss';
@import '../../source/variables.scss';

.onEpisode {
  min-width: 100%;
  display: flex;
  @extend %style-for-card-char;
}

.onEpisode-location {
  &__image {
    border: 2px solid $font-color;
    border-radius: 50%;
  }

  &__name {
    font-weight: 400;
    font-size: 20px;
    color: $font-color;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
}
