@import '../../source/placehorder.scss';
@import '../../source/variables.scss';

.onLocation {
  min-width: 100%;
  display: flex;
  @extend %style-for-card-char;
}

.character-location {
  &__image {
    border: 2px solid $font-color;
    border-radius: 50%;
  }

  &__name {
    font-size: 20px;
    color: $font-color;
    @extend %style-for-fonts;
    text-align: center;
  }
}
