@import '../../source/placehorder.scss';
@import '../../source/Variables.scss';

.footer {
  @extend %style-for-fonts;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: $font-color;
  }
}
